/*
 * style.ccs 
 * Style descriptions for the site
 */
* {
  margin: 1;
}
/* main style format */
html, body {
  height: 98%;
  color: black;
  background: rgb(245, 245, 245);
  font-size: 0.9em;
  font-family: Verdana, Arial;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
/* links */
a {
  text-decoration: none;
}
a:link {
  color: rgb(0,0,153);
}
a:hover {
    text-decoration: underline;
}
div.block{
  overflow: hidden;
}
div.block label{
  font-family: Verdana, Arial; 
  width: 120px;
  display: block;
  float: left;
  text-align: left;
}
div.block .input{
  font-family: Verdana, Arial;
  width: 400px;
  margin-left: 4px;
  float: left;
}

/* top banner */
div.header{
  /*background-color: #b0c4de;*/
  color: #292980;
  font-family: Verdana, Arial;
  font-size: x-large;
  font-style: normal;
  font-weight: bolder;
  margin: 2px;
  /*padding-bottom: 2px;*/
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  text-align: left;
  width: 98%
} header.right {
  font-size: small;
  font-family: Verdana, Arial;
  font-style: italic;
  font-weight: lighter;
}

div.sect1{
  font-size: larger;
  font-family: Verdana, Arial;
}
table.results {
  border-width: 4px;
  border-spacing: 2px;
  border-style: none;
  border-color: gray;
  border-collapse: collapse;
  background-color: white;
  font-family: Verdana, Arial;
  font-size: smaller;
  width: 100%;
}

/* make the footer "stick" to the bottom of the page */
.footer, .push {
  height: 4em;
}
.footer {
  font-size: smaller;
  font-style italic;
  font-weight: lighter;
  font-family: Verdana, Arial;
}

.aboutleft {
  float: left;
}
.perfright {
  float: right;
}
/* table to display the database */
table.results th {
  border-width: 1px;
  padding: 4px;
  border-style: none;
  /*border-color: white;*/
  background-color: rgb(194, 196, 238);
}
table.results td {
  border-width: 1px;
  padding: 4px;
  border-style: none;
  background-color: rgb(194, 196, 194);
}
/* alternate row colors */
table.results tr.alt td {
  background-color: rgb(219, 220, 219);
}

label {
  float: left;
  text-align: left;
  margin-right: 0.5em;
  font-family: Verdana, Arial;
  font-size: smaller;
  display: block;
  width: 6em;
}
/* user insert into database section */
.input {
  width: 30%;
  font-family: Verdana, Arial;
  background: #FFC;
  margin-left: 1.5em;
}
/* user action buttons */
.button {
  background-color: rgb(219, 220, 219);
  border: 1px solid #999;
  color: black;
  font-family: Verdana, Arial;
  font-size: 11px;
  font-weight: bold;
  height: 24px
  width: 60px;
  margin-left: 102px
}
