div.block{
  overflow: hidden
}
div.block label{
  font-family: Verdana, Arial; 
  width: 120px;
  display: block;
  float: left;
  text-align: left
}
div.block .input{
  font-family: Verdana, Arial;
  width: 400px;
  margin-left: 4px;
  float: left
}
div.header{
  background-color: #b0c4de;
  color: #292980;
  font-family: Verdana, Arial;
  font-size: x-large;
  font-style: normal;
  font-weight: bolder;
  margin: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 2px;
  padding-top: 2px;
  text-align: left;
  width: 98%
} header.right {
  font-size: small;
  font-family: Verdana, Arial;
  font-style: italic;
  font-weight: lighter
}
div.footer{
  background-color: #bbbbbb;
  color: #292980;
  font-family: Verdana, Arial;
  font-size: smaller;
  font-style: italic;
  font-weight: lighter;
  padding-bottom: 1px;
  padding-left: 12px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: left;
  width: 98%
}
div.sect1{
  font-size: larger;
  font-family: Verdana, Arial
}
table.results {
  border-width: 4px;
  border-spacing: 2px;
  border-style: none;
  border-color: gray;
  border-collapse: collapse;
  background-color: white;
  font-family: Verdana, Arial;
  font-size: smaller
}
table.results th {
  border-width: 1px;
  padding: 4px;
  border-style: inset;
  border-color: white;
  background-color: rgb(194, 196, 238)
}
table.results td {
  border-width: 1px;
  padding: 4px;
  border-style: inset;
  border-color: white;
  background-color: rgb(194, 196, 238)
}
table.results tr.alt td {
  background-color: rgb(219, 220, 247)
}
form label {
  width: 80px;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  font-family: Verdana, Arial;
  font-size: smaller;
  display: block
} .submit input {
  margin-left: 432px;
  width: 60px
} input {
  width: 400px;
  font-family: Verdana, Arial
}
